*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    width: 110px;
    height: auto;
}

.nav-link{
    font-size: 16px;
    color: #000000;
    transition: 0.3s;
}

.nav-link:hover{
    color: #ff0000;
}

.carousel-item img{
    height: auto;
    width: 100%;
}

footer{
    color: white;
}
.footer-list{
    width: 84%;
}
.footer-list div a{
    text-decoration: none;
    color: #ffffff;
}

/* */

.card-body>form{
    width: 40%;
    border: 1px solid rgb(235, 235, 235);
}

@media only screen and (max-width: 768px){
    .card-body>form{
       width: 100%;
    }
}