<div class="container-fluid" style="height: 50px;"></div>   
<div class="card text-bg-dark border-0 rounded-0">
    <img src="/public/img/banner/banner-dynamic.jpg" class="card-img-object-fit-cover rounded-0" style="max-height: 350px;" alt="...">
    <div class="card-img-overlay d-flex justify-content-center align-items-center bg-dark bg-opacity-25">
        <div class="text-center">
            <h1 class="card-text fw-bold">DANH MỤC SẢN PHẨM</h1>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-3 list-ct bg-white">
            <h5 class="fw-bold">Danh mục sản phẩm</h5>
            <ul class="list-group rounded-0 bg-white mt-5">
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/0">Tất cả sản phẩm</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/1">Nike</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/2">Adidas</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/3">Louis Vuitton</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/4">Sale</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/5">Giày nam</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/6">Giày nữ</a></li>
                <li class="list-group-item border-0 bg-white p-0 mb-3 fs-6"><a class="text-decoration-none text-secondary" href="#!ct_product/7">Giày đôi</a></li>
            </ul>
        </div>
        <div class="container col-md-9">
            <select class="form-select float-end" style="max-width: 250px;" aria-label="Default select example " ng-model="selectOption">
                <option value="default">Mặc định</option>
                <option value="priceAsc">Sắp xếp theo giá tăng dần</option>
                <option value="priceDesc">Sắp xếp theo giá giảm dần</option>
                <option value="nameAsc">Sắp xếp theo tên từ A-Z</option>
                <option value="nameDesc">Sắp xếp theo tên từ Z-A</option>
            </select>

            <div class="row mt-5 p-0 pt-4">
                <div ng-model="show" ng-repeat="sp in dsSP | filter:keyword | orderBy:sortPD() | limitTo:limit" ng-show="iddmFilter == 0" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-model="show" ng-repeat="sp in dsSP | filter:keyword | filter:{ iddm : iddmFilter} | orderBy:sortPD() | limitTo:limit" ng-show="iddmFilter !== 0 && iddmFilter < 5" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-repeat="sp in dsSP | filter:keyword | filter:{ is_sale : 1 } | orderBy:sortPD() | limitTo:limit" ng-show="iddmFilter == 4" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-model="show" ng-repeat="sp in dsSP | filter:keyword | filter:{ iddm2 : iddmFilter } | orderBy:sortPD() | limitTo:limit" ng-show="iddmFilter !== 0 && iddmFilter > 4" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div ng-model="show" ng-repeat="sp in dsSP | filter:keyword | orderBy:sortPD() | limitTo:limit:begin" ng-show="iddmFilter == 0" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-model="show" ng-repeat="sp in dsSP | filter:keyword | filter:{ iddm : iddmFilter} | orderBy:sortPD() | limitTo:limit:begin" ng-show="iddmFilter !== 0 && iddmFilter < 5" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-repeat="sp in dsSP | filter:keyword | filter:{ is_sale : 1 } | orderBy:sortPD() | limitTo:limit:begin" ng-show="iddmFilter == 4" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div ng-model="show" ng-repeat="sp in dsSP | filter:keyword | filter:{ iddm2 : iddmFilter } | orderBy:sortPD() | limitTo:limit:begin" ng-show="iddmFilter !== 0 && iddmFilter > 4" class="col-md-4 mt-5">
                    <a href="#!detail/{{sp.id}}" class="text-decoration-none">
                        <div class="card border-0 shadow">
                            <img src="public/img/product_img/{{sp.img}}1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center fw-bold">{{sp.name}}</h5>
                              <p class="card-text text-center fw-bold text-red fs-5">{{sp.price | currency:'':0}}đ</p>
                            </div>
                        </div>
                    </a>
                </div> -->
                <div class="col-12 mt-5 text-center">
                    <button ng-click="limit=limit+6" class="btn btn-outline-primary">Xem thêm</button>
                    <!-- <div class="text-center">
                        <button ng-click="chuyenTrang(page-1)" class="btn btn-outline-primary text-decoration-none text-black fs-6 {{(page==1)?'disabled':''}}" href=""><i class="bi bi-arrow-bar-left p-0 m-0"></i></button>
                        <button ng-repeat="trang in pageList()" ng-click="chuyenTrang(trang)" class="btn btn-outline-primary mx-1 text-decoration-none text-black fs-6 {{(page==trang)?'active':''}}" href="">{{trang}}</button>
                        <button ng-click="chuyenTrang(page+1)" class="btn btn-outline-primary text-decoration-none text-black fs-6 {{(page==totalPage())?'disabled':''}}" href=""><i class="bi bi-arrow-bar-right p-0 m-0"></i></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
